<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.venkatesh.businessoffers">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sample"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/geocoding_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MapsActivityCurrentPlace" />
        <activity
            android:name=".BusinessMainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".InitialScreenActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:theme="@style/AppTheme.NoActionBar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- <activity android:name=".PhonevalidationActivity"></activity> -->
        <activity android:name=".LoginPage" />
        <activity android:name=".BusinessRegistration" />
        <activity android:name=".AddOfferActivity"
                  android:label="Add Offer"/>
    </application>

</manifest>